@model Ecoporto.CRM.Site.Models.OportunidadesAdendosViewModel
@using Ecoporto.CRM.Site.Helpers

<br />

<div class="form-row">
    <div class="form-group col-sm-12">

        <div class="form-row">
            <div class="form-group col-sm-2">
                @Html.LabelFor(model => model.AdendoSegmento)
                @Html.PrivilegedEnumDropDownListFor(c => c.AdendoSegmento, "form-control form-control-sm")
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.AdendoSubClienteId)
                @Html.PrivilegedDropDownListFor(model => model.AdendoSubClienteId, new MultiSelectList(Model.AdendoContas, "Id", "Descricao"), "form-control form-control-sm")
            </div>
            <div class="form-group col-md-2">
                <label for="btnAdendoPesquisarSubCliente">&nbsp;</label>
                <a id="btnAdendoPesquisarSubCliente" href="#" class="btn btn-outline-info btn-sm btn-block btn-as-block"><i class="fas fa-search"></i>&nbsp;Pesquisar</a>
            </div>
            <div class="form-group col-sm-2">
                <label>&nbsp;</label>
                <button id="btnAdicionarSubClienteAdendo" type="button" class="btn btn-secondary btn-sm btn-block btn-as-block btn-acao">Adicionar</button>
            </div>
        </div>

    </div>
</div>

<div class="form-row">
    <div class="form-group col-sm-2 offset-md-10">
        @if (User.IsInRole("Administrador") || (User.IsInRole("OportunidadesAdendos:Cadastrar") || User.IsInRole("OportunidadesAdendos:Atualizar")))
        {
            <button id="btnSalvarAdendoSubCliente" type="submit" class="btn btn-primary btn-sm btn-block btn-as-block btn-acao">Salvar</button>
        }
        </div>
</div>