@model Ecoporto.CRM.Site.Models.OportunidadesAdendosViewModel

<div class="form-row">
    <div class="form-group col-md-12">

        <div class="table-responsive">
            <table id="tbAdendosInclusaoSubCliente" class="table table-sm table-striped" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Segmento</th>
                        <th scope="col">Nome Fantasia</th>
                        <th class="campo-acao">&nbsp;</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>

</div>
