<div class="modal" tabindex="-1" role="dialog" id="pesquisa-modal-dias-semana-cond-pgto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dias de Faturamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Selecione o dia para Faturamento:</p>

                <div class="form-group row">
                    <div class="col-md-12">
                        <select id="cbDiaSemanaCondicaoPgto" class="form-control">
                            <option value="1">Domingo</option>
                            <option value="2">Segunda-Feira</option>
                            <option value="3">Terça-Feira</option>
                            <option value="4">Quarta-Feira</option>
                            <option value="5">Quinta-Feira</option>
                            <option value="6">Sexta-Feira</option>
                            <option value="7">Sábado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="selecionarDiaSemanaCondicaoPgto()" class="btn btn-primary">Selecionar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>