@model IEnumerable<Ecoporto.CRM.Business.DTO.ClientePropostaDTO>

<br />
<table id="tbClientesGrupoCNPJ" class="table table-sm table-striped" cellspacing="0">
    <thead>
        <tr>
            <th scope="col">Nome Fantasia</th>
            <th scope="col">CNPJ/CPF</th>
            <th scope="col">Usuário</th>
            <th scope="col">Data Criação</th>
            <th class="campo-acao">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
