@model Ecoporto.CRM.Site.Models.OportunidadesClonarPropostaViewModel

<div data-id="0" class="modal" tabindex="-1" role="dialog" id="clonar-proposta-modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Selecione uma Oportunidade na lista abaixo:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Ajax.BeginForm("ClonarProposta", "Oportunidades", null, new AjaxOptions
            {
                OnSuccess = "propostaClonadaMensagemSucesso",
                OnFailure = "oportunidadeMensagemErro",
                HttpMethod = "POST"
            }, new { id = "frmClonarProposta" }))
            {

                @Html.HiddenFor(model => model.CloneOportunidadeSelecionada)

                <div class="modal-body">

                    <table id="tbClonarProposta" class="table table-sm" cellspacing="0" style="width:100%; padding:0px;">
                        <thead>
                            <tr>
                                <th scope="col">Proposta</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Status</th>
                                <th scope="col">Sucesso Negociação</th>
                                <th scope="col">Tipo Serviço</th>
                                <th scope="col">ID Tabela</th>
                                <th scope="col">Início</th>
                                <th scope="col">Término</th>
                                <th class="campo-acao">Selecionar</th>
                                <th class="campo-acao">Visualizar</th>
                            </tr>
                        </thead>
                    </table>
                                      
                </div>
                <div class="modal-footer">                    
                    <button id="btnConfirmarClonagemProposta" type="button" class="btn btn-danger" disabled>Estou ciente e confirmo a cópia desta Proposta</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            }

        </div>
    </div>
</div>