<div data-id="0" class="modal" tabindex="-1" role="dialog" id="confirmar-exportacaoTabela-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exportação Tabela</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Confirma a Exportação da Tabela para o Sistema Chronos?</p>
            </div>
            <div class="modal-footer">
                <button id="btnConfirmarExportacaoTabela" type="button" class="btn btn-danger" onclick="confirmarExportacaoTabela()">Estou ciente e confirmo a Exportação</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>