<div class="modal" tabindex="-1" role="dialog" id="modal-motivo-recall-adendos">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recall de Adendos</h5>
            </div>
            @using (Ajax.BeginForm("RecallAdendos", "Recall", null, new AjaxOptions
            {
                OnSuccess = "recallSucesso",
                OnFailure = "recallErro",
                HttpMethod = "Post"
            }, new { id = "frmRecallAdendos" }))
            {
                <div class="modal-body">
                    <p>Informe o motivo do Recall:</p>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="hidden" id="RecallAdendosOportunidadeId" name="RecallAdendosOportunidadeId" />
                            <input type="hidden" id="RecallAdendoId" name="RecallAdendoId" />
                            <textarea class="form-control" rows="5" id="MotivoRecallAdendos" name="MotivoRecallAdendos"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button id="btnConfirmaRecallAdendos" type="submit" class="btn btn-danger">Estou ciente e confirmo o Recall do Adendo</button>
                </div>

            }
        </div>
    </div>
</div>