<div class="modal" tabindex="-1" role="dialog" id="modal-motivo-recall">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recall de Oportunidade</h5>
            </div>
            @using (Ajax.BeginForm("RecallOportunidade", "Recall", null, new AjaxOptions
            {
                OnSuccess = "recallSucesso",
                OnFailure = "recallErro",
                HttpMethod = "Post"
            }, new { id = "frmRecallOportunidade" }))
            {
                <div class="modal-body">
                    <p>Informe o motivo do Recall:</p>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="hidden" id="RecallOportunidadeId" name="RecallOportunidadeId" />
                            <textarea class="form-control" rows="5" id="MotivoRecallOportunidade" name="MotivoRecallOportunidade"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button id="btnConfirmaRecallOportunidade" type="submit" class="btn btn-danger" disabled>Estou ciente e confirmo o Recall da Oportunidade</button>
                </div>

            }
        </div>
    </div>
</div>