<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ecoporto.CRM.Site.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

   <!-- <add key="ApiWorkflowUrl" value="http://10.1.50.4:7770/" />
    <add key="ApiWorkflowUsuario" value="crm_webapi" />
    <add key="ApiWorkflowSenha" value="cRm_WkF@853752" />-->

    <add key="ApiWorkflowUrl" value="http://webapi.ecoportosantos.com.br:9991/WKF_WebApi/" />
    <add key="ApiWorkflowUsuario" value="crm_webapi" />
    <add key="ApiWorkflowSenha" value="cRm_WkF@853752" /> 

    <add key="EcoportoLDAP" value="LDAP://ecoporto.ecorodovias.corp" />
    <add key="EcopatioLDAP" value="LDAP://ecopatio.ecorodovias.corp" />
    <add key="EcorodoviasLDAP" value="LDAP://ecsc.ecorodovias.corp" />
    <add key="UsuarioLDAP" value="s_crmeco" />
    <add key="SenhaLDAP" value="Ecoporto@426" />
    <add key="ApiAnexosUrl" value="http://10.1.50.167:15000/" />
    <add key="ApiAnexosUsuario" value="usr_crm" />
    <add key="ApiAnexosSenha" value="I2NybUAyMDE4" />
    <add key="WsCalculoUrl" value="http://10.1.50.4:3026/Calcular.asmx" />
    <add key="ServidorRelatoriosUrl" value="http://srv0033/reportserver" />
    <add key="ServidorRelatoriosDiretorio" value="CRM" />
    <add key="ServidorRelatoriosUsuario" value="s_crmeco" />
    <add key="ServidorRelatoriosSenha" value="Ecoporto@426" />
    <add key="ServidorRelatoriosDominio" value="ecoportocorp" />
    <add key="WsSPCUrl" value="https://treina.spc.org.br/spc/remoting/ws/consulta/consultaWebService" />
    <add key="WsSPCUsuario" value="400136" />
    <add key="WsSPCSenha" value="27072020" />
    <add key="WsSPCProduto" value="198" />
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="2097151" />
    <globalization uiCulture="pt-BR" culture="pt-BR" enableClientBasedCulture="true" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH_CRM_ECOPORTO" protection="All" timeout="60" loginUrl="~/Home/Login" defaultUrl="Default" />
    </authentication>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>

  <connectionStrings>
    <!-- PATIODEV-->
 <add name="StringConexaoOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.51.30)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=patiodev)));User Id=CRM;Password=Ec0CRM#0503@" providerName="Oracle.ManagedDataAccess.Client" />

  <!-- Produção-->
    <!--     <add name="StringConexaoOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.50.236)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=tecondi.tecondi.com.br)));User Id=CRM;Password=Ec0CRM#0503@;" providerName="Oracle.ManagedDataAccess.Client" /> -->

</connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.3.0" newVersion="3.3.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.5.0" newVersion="5.5.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.5.0" newVersion="5.5.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <applicationSettings>
    <Ecoporto.CRM.Site.Properties.Settings>
      <setting name="Ecoporto_CRM_Site_WsControleSenha_Criptografia" serializeAs="String">
        <value>http://10.1.50.4:5456/Criptografia.asmx</value>
      </setting>
      <setting name="Ecoporto_CRM_Site_WsConsultaClientes_Service1" serializeAs="String">
        <value>http://srv0019:5040/wsexterno/Service1.asmx</value>
      </setting>
      <setting name="Ecoporto_CRM_Site_WsSPC_Ws" serializeAs="String">
        <!--<value>http://10.1.50.4:3567/ws.asmx</value>-->
        <value>https://localhost:44390/Ws.asmx</value>
      </setting>
      <setting name="Ecoporto_CRM_Site_WsSimulador_SimuladorCalculo" serializeAs="String">
        <value> http://localhost:2897/SimuladorCalculo.asmx </value>
      </setting>
      <setting name="Ecoporto_CRM_Site_WsIntegraChronos_IntegraChronos" serializeAs="String">
        <value> http://localhost:2897/IntegraChronos.asmx</value>
      </setting>
      <setting name="Ecoporto_CRM_Site_WsCalculo_Calcular" serializeAs="String">
        <value>http://localhost:25693/Calcular.asmx</value>
      </setting>
    </Ecoporto.CRM.Site.Properties.Settings>
  </applicationSettings>

</configuration>

<!--http://10.1.50.4:3026/Calcular.asmx -->

<!--  http://10.1.50.4:3289/SimuladorCalculo.asmx  -->

<!-- http://10.1.50.4:3289/IntegraChronos.asmx-->

 <!--https://localhost:44390/Ws.asmx -->
<!--http://10.1.50.4:3026/Calcular.asmx-->
<!--http://srv0019:2530/Calcular.asmx -->
