@{
    ViewBag.Title = "Ecoporto :: CRM";
}

<div class="container">
    <div class="jumbotron mt-3">

        <h3 class="text-danger"><strong>Acesso não autorizado</strong></h3>

        <p class="lead">Caso seja necessário, solicite o acesso do menu para o Administrador do sistema.</p>

    </div>
</div>
