@using Ecoporto.CRM.Site.Helpers

@{
    ViewBag.Title = "Consultar Mercadorias";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.ValidarFormulario(ViewContext.ViewData.ModelState, false)
        </div>
    </div>
</div>