<div>
    <span>
        <button id="btnSimularTodas" onclick="simularTodas()" class="btn btn-primary btn-sm">Simular todas Tabelas</button>
    </span>
    <label class="ml-3">Modo de exibição:</label>
    <span>
        <input type="radio" name="RelatorioVertical" value="true"  /> Vertical
        <input type="radio" name="RelatorioVertical" value="false" checked /> Horizontal
    </span>


</div>