<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ecoporto.CRM.IntegraChronosService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Tempo" value="60000"/>
  </appSettings>

  <connectionStrings>
    <add name="StringConexaoOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.51.30)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=patiodev)));User Id=CRM;Password=Ec0CRM#0503@;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>  

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <applicationSettings>
    <Ecoporto.CRM.IntegraChronosService.Properties.Settings>
      <setting name="Ecoporto_CRM_IntegraChronosService_WsIntegraChronos_IntegraChronos"
        serializeAs="String">
        <value>http://localhost:2897/IntegraChronos.asmx</value>
      </setting>
    </Ecoporto.CRM.IntegraChronosService.Properties.Settings>
  </applicationSettings>
</configuration>