<?xml version="1.0" encoding="utf-8"?>
<configuration>

 <!--  <appSettings>
    <add key="ApiWorkflowUrl" value="http://10.1.50.4:7770/" />
    <add key="ApiWorkflowUsuario" value="crm_webapi" />
    <add key="ApiWorkflowSenha" value="cRm_WkF@853752" />
    <add key="Tempo" value="120000"/>
  </appSettings>-->

 <appSettings>
    <add key="ApiWorkflowUrl" value="http://webapi.ecoportosantos.com.br:9991/WKF_WebApi/"/>
    <add key="ApiWorkflowUsuario" value="crm_webapi"/>
    <add key="ApiWorkflowSenha" value="cRm_WkF@853752"/>
    <add key="Tempo" value="60000"/>
  </appSettings>

  <connectionStrings>
    <!-- <add name="StringConexaoOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.51.30)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=patiodev)));User Id=CRM;Password=Ec0CRM#0503@;" providerName="Oracle.ManagedDataAccess.Client" />-->
  <add name="StringConexaoOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.50.236)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=tecondi.tecondi.com.br)));User Id=CRM;Password=Ec0CRM#0503@;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
