<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="consultaWebServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="consultaWebServicePortBinding1" />
              
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://treina.spc.org.br:443/spc/remoting/ws/consulta/consultaWebService"
                binding="basicHttpBinding" bindingConfiguration="consultaWebServicePortBinding"
                contract="WsSPCTeste.consultaWebService" name="consultaWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>