<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApiAnexosUrl" value="http://10.1.50.167:15000/"/>
    <add key="ApiAnexosUsuario" value="usr_crm"/>
    <add key="ApiAnexosSenha" value="I2NybUAyMDE4"/>
    <add key="Banco" value="ORACLE"/>
  </appSettings>
  <connectionStrings>
    <!-- PATIODEV-->
    <!--<add name="StringConexao" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.51.30)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=patiodev)));User Id=CRM;Password=Ec0CRM#0503@;" providerName="Oracle.ManagedDataAccess.Client"/>-->
    <!-- Produção-->
      <add name="StringConexao" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ritora01vip)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=ritora02vip)(PORT=1521))(LOAD_BALANCE=yes))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=tecondi.tecondi.com.br)(FAILOVER_MODE=(TYPE=SELECT)(METHOD=BASIC)(RETRIES=180)(DELAY=5))));User Id=CRM;Password=Ec0CRM#0503@;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
</configuration>